.align-horizontal-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-color: #D5E1EF;
  height: 100vh;
  min-height: 500px;
  font-family: 'Outfit', sans-serif;
}

.qr {
  width: 320px;
  height: 497px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.qr > img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-top: 16px;
}

.qr > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #1F314F;
  margin: 0;
  margin-top: 24px;
  width: 288px;
}

.qr > p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1875px;
  color: #7D889E;
  margin: 0;
  margin-top: 16px;
  width: 256px;
}